__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

*.c
*.cpp

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg


*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.ipynb_checkpoints

dbt/target/
dbt/.user.yml
dbt/dbt_project.yml

.aws/
*.pem

project.db

*.log

src/project.db

*.pkl
*.joblib
*.h5

src/recommender/recommender_model.pth
src/campaign_optimizatiohn/campaign_model.pkl
src/data/processed/*.csv
src/data/raw/*.csv

setup.sh


data/processed/*.csv
data/processed/spark_campaigns_output/
!data/processed/processed_*.csv